#base-link {
    display: none;
}

div.message.error {
    background-color: #C3232D;
    color: #FFF;
    font-size: 20px;
    padding-left: 1%
}

div.message.success {
    background-color: #23A7C3;
    color: #FFF;
    font-size: 20px;
    padding-left: 1%
}

a {
    color: inherit;
}

.padding-bottom {
    padding-bottom: 50px;
}

.search-container {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

.btn-submit {
    float: right;
    margin-right: 1.5%;
    margin-top: 1%;
}

.paginator {
    text-align: center;
}

form .error-message {
    float: right;
    padding-right: 15px;
    color: red;
}

.margin-left {
    margin-left: 15px;
}

.task-status {
    border-radius:20px;
    padding: 5px;
}

.task-status.pending {
    background-color: #5bc0de;
    color: white;
}

.task-status.in-progress {
    background-color: #337ab7;
    color: white;
}

.task-status.done {
    background-color: green;
    color: white;
}

.task-status.overdue {
    background-color: red;
    color: white;
}

.task-status.progress {
    background-color: blue;
    color: white;
}

ul.options {
    list-style-type: none;
    width: 15em;
    margin: 0.3em 0;
    padding: 0;
}

ul.options li {
    background: #def url(../img/cross_bright.png) no-repeat 98% center;
    margin: 1px;
    padding: 0.1em 0.3em;
    cursor: pointer;
    color: #46a;
    font-weight: bold;
    border: solid 1px #cde;
}

.add-button {
    cursor: pointer;
}

.multi-select-with-input table {
    margin: auto;
    table-layout: fixed;
    width: 80%;
    text-align: center;
}

.multi-select-with-input input {
    width: 30%;
    border-radius: 4px;
    box-shadow: 30px;
}

.multi-select-with-input img, .editable-data-table-action img {
    width: 24px;
}

.multi-select-with-input ul {
    margin: 20px auto;
}

tr:last-child .editable-data-table-delete {
    display: none;
}

tr:not(:last-child) .editable-data-table-add {
    display: none;
}

form .chosen-container {
    font-size: 14px;
}

.parent-center {
    text-align: center;
}

.child-center {
    margin-left: 12px;
    display: inline-block;
}

.float-right {
    float: right;
}
 hr.style-eight { 
    padding: 0;
    border: none; 
    border-top: medium double #333; 
    color: #333; 
    text-align: center; 
}
/*hr.style-eight:after { 
    content: "Quick Stats"; 
    display: inline-block; 
    position: relative; 
    top: -0.7em; 
    font-size: 1.5em; 
    padding: 0 0.25em; 
    background: ; 
}*/
hr.style-five { 
    border: 0; 
    height: 0; /* Firefox... */ 
    box-shadow: 
    0 0 10px 1px black; 
}
hr.style-five:after { /* Not really supposed to work, but does */
 content: "\00a0"; /* Prevent margin collapse */ 
}


.scroll-wrapper{
    overflow-y: auto;
}

.dashboard-card{
    height:50vh;
}

.dashboard-card > div {
    margin: auto;
    width: 100%;

}

.dashboard-card .panel {
    margin-bottom: 10px;
}

.dashboard-card .pn {
    height: 200px;
}

.dashboard-card-content {
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    min-height: 100px;
    overflow: hidden;
}

.dashboard-card-content, .dashboard-card-content p{
    font-size: 1.75rem;
}

#calendar {
    border-spacing: 0px;
    font-size: 1.5rem;
    width: 100%;
}

#event-calendar {
    border-spacing: 0px;
    color: #fff;
    font-size: 1.5rem;
    width: 100%;
}


#calendar .month-year, #calendar .day-name, #event-calendar .month-year, #event-calendar .day-name{
    text-align: center;
}

#calendar .month-year, #event-calendar .month-year{
    text-decoration: underline;
}

#calendar .day-name, #event-calendar .day-name{
    width: 14%;
}

#calendar .event, #event-calendar .event{
    background-color: #FFB36C;
}

#calendar .current, #event-calendar .current{
    background-color: #1fbcd2;
}

#calendar .current-event, #event-calendar .current-event{
    background-color: #FF8B21;
}

#calendar .day, #event-calendar .day{
    border: 1px solid #1fbcd2;
}

#calendar .current{
    text-decoration: underline;
}

#event-calendar .current span{
    border-bottom: 2px solid #ffffff;
}

#calendar .current-event{
    text-decoration: underline;
}

#event-calendar .current-event span{
    border-bottom: 2px solid #ffffff;
}

#calendar td{
    margin: 2px;
}

#event-calendar th{
    padding: 5px;
    text-align: left;
    vertical-align: top;
    height: 50px;
}

#event-calendar td{
    padding: 10px;
    text-align: left;
    vertical-align: top;
    height: 50px;
    overflow: hidden;
}


#event-calendar ul{
    font-size: 1.25rem;
}


#event-calendar ul>li>ul{
    padding-left: 1rem;
}

#notifications {
    max-height: 200px;
    margin-bottom: 2rem;
}

#notifications .unread{
    border: 1px solid red;
}

#notifications .notification {
    margin: 1rem 0;
    padding: 1rem;
}

#notifications .notification p{
    color: #000;
}

#notification-badge {
    background-color: #ffd777;
    color: #797979;
    display: none;
    margin-right: 1rem;
}

th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}
 
th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(7px, 7px)
    /* 45 is really 360 - 45 */
    rotate(-90deg);
  width: 1px;
}

#finish-project{
    transform: translateY(40%);
    margin: auto;
    width: 40vw;
}

.incident-report th {
    width: 20%;
}

#sidebar {
    z-index: 1001;
}