div.header {
    text-align: center;
}

table {
    margin: 0 auto;
}

.text {
    font-size: 24px;

}

.text-left {
    padding-left: 10px;
    text-align: left;
}

.text-right {
    padding-right: 10px;
    text-align: right;
}

.float-right {
    float: right;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.purchase-order {
    border-collapse: collapse;
    table-layout:fixed;
    padding: 0px;
}

.purchase-order td, .purchase-order th{
    font-size: .75em !important;
    height: .8em;
    padding: 0px;
}

.body table {
    width: 100%;
}

.body td, .body th {
    padding: 10px 0;
    font-size: 18px;
}

.report td, .report th {
    padding: 3px 3px;
    font-size: 18px;
} 

.incident-report th {
    width: 30%;
}


.signatory {
    padding: 24px 0;
}

.footer {
    margin-top: 100px;
    text-align: center;
}

.summary-report, .summary-report th, .summary-report td {
  border: 1px solid black;
  border-spacing: 0;
  border-collapse: collapse;
  font-size: 12px;
}


th.rotate {
  /* Something you can count on */
  height: 140px !important;
  white-space: nowrap;
}
 
th.rotate > div {
  transform: rotate(270deg) 
    translate(-65px, 7px);
  -ms-transform: rotate(270deg)
    translate(-65px, 7px);
  -moz-transform: rotate(270deg)
    translate(-65px, 7px);
  -webkit-transform: rotate(270deg)
    translate(-65px, 7px);
  -o-transform: rotate(270deg)
    translate(-65px, 7px);

  width: 2px;
}

.page-break {
    clear: both;
    display: block;
    border :1px solid transparent;
    page-break-after: always;
}


