body {
    font-family: Arial, sans-serif;
    font-size: 14px;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    padding: 0;
}

td, th {
    border-collapse: collapse;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

p {
    text-indent: 50px;
    font-size: 16px;
}

.inline-block {
    display: inline-block;
}

.text {
    font-size: 24px;

}

.text-left {
    padding-left: 10px;
    text-align: left;
}

.text-right {
    padding-right: 10px;
    text-align: right;
}

.text-center {
    text-align: center;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.border-bottom {
    border-bottom: 1px solid black;
}

.header, .horizontal-header {
    height: 130px;
    position: relative;
}

.header img{
    position: absolute;
    left: 190px;
}

.header span{
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    left: 335px;
    top: 45px;
}

.horizontal-header img{
    position: absolute;
    left: 350px;
}

.horizontal-header span{
    font-size: 35px;
    font-weight: bold;
    position: absolute;
    left: 495px;
    top: 45px;
}

.signatory {
    display: inline-block;
}

.footer {
    margin-top: 100px;
    text-align: center;
}

.reset-paragraph, .reset-paragraph p {
    text-indent: 0px;
    font-size: 12px;
}

.page-break {
    clear: both;
    display: block;
    border :1px solid transparent;
    page-break-after: always;
}

.body table {
    width: 100%;
}

.body td, .body th {
    padding: 10px 0;
}

.report td, .report th {
    font-size: 12px;
    padding: 3px 3px;
} 

.incident-report th {
    width: 30%;
}

.incident-report p {
    text-indent: 0px;
    font-size: 12px;
}

.summary-report, .summary-report th, .summary-report td {
    border: 1px solid black;
    border-spacing: 0;
    border-collapse: collapse;
}


th.rotate {
    /* Something you can count on */
    height: 140px !important;
    white-space: nowrap;
}

th.rotate > div {
    transform: rotate(270deg) 
    translate(-65px, 7px);
    -ms-transform: rotate(270deg)
    translate(-65px, 7px);
    -moz-transform: rotate(270deg)
    translate(-65px, 7px);
    -webkit-transform: rotate(270deg)
    translate(-65px, 7px);
    -o-transform: rotate(270deg)
    translate(-65px, 7px);

    width: 2px;
}

.purchase-order {
    border-collapse: collapse;
    border-spacing: 0px;
    table-layout: fixed;
}

.purchase-order td, .purchase-order th{
    height: 10px;
    padding: 0px;
}

.purchase-order-details {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
    padding: 0px;
    table-layout: fixed;
}

.purchase-order-details td, .purchase-order-details th{
    border: 1px solid black;
    height: 10px;
    padding: 0px;
}



